<div class="baugrundstuecke">
	<div class="titletextlayout">
		<div class="titletextinnerlayout">
<p id="titletext" class="titletext" style="font-weight: bold; font-size: 24px;">
Eigenheime (bezugsfrei) - Gesamtobjektpreise in T-Euro
</p>
		</div>
		<div class="savebutton2layout">
<button #thisbutton_savebutton type="button" (click)="onButtonClicked_savebutton()" (mouseover)="thisbutton_savebutton.style.color = '#ff0000'; thisbutton_savebutton.style.backgroundColor = '#ffffff'" (mouseout)="thisbutton_savebutton.style.color = '#ffffff'; thisbutton_savebutton.style.backgroundColor = '#ff0000'" [style]="{
 'display': 'flex',
 'flex-direction': 'row',
 'align-items': 'center',
 'justify-content': 'center'
 }" class="savebutton">
 

 <div [style]="{
 'width': '100%',
 'color': 'inherit',
 'font': 'inherit',
 'text-align': 'center',
 'font-weight': 'normal'
 }" class="focus:outline-0 bg-transparent">
 <span> Erfassung speichern </span>
 </div>

 
</button>
		</div>
	</div>

	<div class="baucontainer2">
		<div class="cardlayout2">
			<div class="cardtitlelayout2">
				<div class="cardtitletextlayout2">
<p id="ffeuzfh-text2" class="ffeuzfh-text2" style="font-weight: bold; height: 20px; font-size: 16px;">
Freistehende Eigenheime incl. Garage & ortsüblichen großem Grundstück
</p>
				</div>
				<div class="buttonslayout2">
					<div class="Layout234567891011121314151617182">
<div class="savebuttonrich2">
	<p><img src="https://api.iconify.design/material-symbols/save-outline.svg?color=%236e6e6e" alt="" width="24" height="24"></p>
</div>
					</div>
					<div class="Layout23456789101112131415161718192">
<div class="infobuttonrich2">
	<p><img src="https://api.iconify.design/fluent/info-16-regular.svg?color=%236e6e6e" alt="" width="24" height="24"></p>
</div>
					</div>
				</div>
			</div>
			<div class="cardcontentlayout2">
				<div class="entrieslayout2">
					<div class="Layout2345678910111213">
<a id="text234" class="text234" style="font-weight: bold;">
Wohnlage
</a>
					</div>
					<div class="Layout234567891011121314">
<a id="text23" class="text23" style>
Kassel-Stadt
</a>
					</div>
					<div class="Layout23456789101112131415">
<a id="text2" class="text2" style>
Kassel-Umland
</a>
					</div>
					<div class="Layout2345678910111213141516">
<a id="text" class="text" style>
Marburg
</a>
					</div>
				</div>
				<div class="ewlayout2">
<app-immotabelle prefix="routeroutlet!pc11!" title="Einfacher Wohnwert ca. 100m²"></app-immotabelle>
				</div>
				<div class="gap1layout">
					<div class="Layout">
					</div>
					<div class="Layout22">
					</div>
					<div class="Layout232">
					</div>
					<div class="Layout2342">
					</div>
				</div>
				<div class="nwlayout2">
<app-immotabelle prefix="routeroutlet!pc12!" title="Mittlerer Wohnwert ca. 125m²"></app-immotabelle>
				</div>
				<div class="gap2layout2">
					<div class="Layout234523">
					</div>
					<div class="Layout23456">
					</div>
					<div class="Layout234567">
					</div>
					<div class="Layout2345678">
					</div>
				</div>
				<div class="gwlayout2">
<app-immotabelle prefix="routeroutlet!pc13!" title="Guter Wohnwert ca. 150m²"></app-immotabelle>
				</div>
				<div class="gap3layout2">
					<div class="Layout23456789">
					</div>
					<div class="Layout2345678910">
					</div>
					<div class="Layout234567891011">
					</div>
					<div class="Layout23456789101112">
					</div>
				</div>
				<div class="sgwlayout2">
<app-immotabelle prefix="routeroutlet!pc14!" title="Sehr Guter Wohnwert ca. 200m²"></app-immotabelle>
				</div>
				<div class="gap4layout2">
					<div class="Layout234567891011121314151617181920">
					</div>
					<div class="Layout23456789101112131415161718192021">
					</div>
					<div class="Layout234567891011121314151617181920212223">
					</div>
					<div class="Layout2345678910111213141516171819202122">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="baucontainer">
		<div class="cardlayout">
			<div class="cardtitlelayout">
				<div class="cardtitletextlayout">
<p id="ffeuzfh-text" class="ffeuzfh-text" style="font-weight: bold; height: 20px; font-size: 16px;">
Reihenhäuser (Mittelhaus ohne Garage)
</p>
				</div>
				<div class="buttonslayout">
					<div class="Layout23456789101112131415161718">
<div class="savebuttonrich">
	<p><img src="https://api.iconify.design/material-symbols/save-outline.svg?color=%236e6e6e" alt="" width="24" height="24"></p>
</div>
					</div>
					<div class="Layout2345678910111213141516171819">
<div class="infobuttonrich">
	<p><img src="https://api.iconify.design/fluent/info-16-regular.svg?color=%236e6e6e" alt="" width="24" height="24"></p>
</div>
					</div>
				</div>
			</div>
			<div class="cardcontentlayout">
				<div class="entrieslayout">
					<div class="Layout23456789101112132">
<a id="text2342" class="text2342" style="font-weight: bold;">
Wohnlage
</a>
					</div>
					<div class="Layout2345678910111213142">
<a id="text232" class="text232" style>
Kassel-Stadt
</a>
					</div>
					<div class="Layout234567891011121314152">
<a id="text22" class="text22" style>
Kassel-Umland
</a>
					</div>
					<div class="Layout23456789101112131415162">
<a id="text2345" class="text2345" style>
Marburg
</a>
					</div>
				</div>
				<div class="nwlayout">
<app-immotabelle prefix="routeroutlet!pc15!" title="Einfacher Wohnwert ca. 100m²"></app-immotabelle>
				</div>
				<div class="gap2layout">
					<div class="Layout23452">
					</div>
					<div class="Layout234562">
					</div>
					<div class="Layout2345672">
					</div>
					<div class="Layout23456782">
					</div>
				</div>
				<div class="gwlayout">
<app-immotabelle prefix="routeroutlet!pc16!" title="Mittlerer Wohnwert ca. 110m²"></app-immotabelle>
				</div>
				<div class="gap3layout">
					<div class="Layout234567892">
					</div>
					<div class="Layout23456789102">
					</div>
					<div class="Layout2345678910112">
					</div>
					<div class="Layout234567891011122">
					</div>
				</div>
				<div class="sgwlayout">
<app-immotabelle prefix="routeroutlet!pc17!" title="Guter Wohnwert ca. 120m²"></app-immotabelle>
				</div>
				<div class="gap4layout">
					<div class="Layout2">
					</div>
					<div class="Layout23">
					</div>
					<div class="Layout2345">
					</div>
					<div class="Layout234">
					</div>
				</div>
			</div>
		</div>
	</div>
